.title-head{
    height: 219px;
    width: 327px;
    margin-inline: auto;
    margin-top: 82px;
    margin-bottom: 24px;
    
    
}

.title-head-info{
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.43px;
    color: var(--purple-letter);
    text-align: center;
}